* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
  background-color: rgb(20, 20, 20);
}

header {
  background-color: rgb(20, 20, 20);
  color: antiquewhite;
  text-align: center;
  padding: 40px;
  position: sticky;
  top: 0px;
}

.line-1 {
  height: 1px;
  background: white;
}

body {
  background-color: antiquewhite;
}

button {
  border-radius: 5px;
}

h4 {
  color: black;
  background-color: antiquewhite;
  border-radius: 4px;
  border-color: black;
  padding: 2px;
}

.menu-bar {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.pic {
  margin-top: 20px;
}
